h1, h2, h3, h4, h5, h6, p, .mont-font {
    font-family: 'Montserrat', sans-serif;
}

#mainNav {
    background: rgb(219, 141, 52);
    /* position:fixed;
    width:100%;
    overflow:hidden; */
}

body {
    margin: 0px;
}
.text-center {
    text-align: center;
}

.center {
    margin:auto;
}

.main-content {
    width:60%;
    margin:auto;
    line-height: 25px;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100px;
    
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: stretch;
    align-items: stretch;

    border-bottom: 2px rgb(15, 5, 70);
}

.profile-image {
    display: block;
    margin:auto;
    border-radius: 50%;
    width:50%;
}

.page-header {
    font-size: 25px;
    padding-top: 10px;
    font-family: "Montserrat";
    font-weight: 600;
    text-align: center;
}
  
.flex-item {
    
    /* background: tomato;
    padding: 10px;
    width: 100px;
    border: 3px solid rgba(0,0,0,.2);
    
    color: white;
    font-weight: bold;
    font-size: 2em; */
    margin:auto;
    text-align: center;
}


.flex-item a {
    text-decoration: none;
    color: black;
}


.header,
.footer  { flex: 1 100%; }
.sidebar { 
    flex: 1; 
    font-size:19px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}


.main    { 
    flex: 2;
    font-size: 39px;
    font-family: 'Kalam', cursive;
    font-weight: 700;
    letter-spacing: 2px;
}

.active a {
    color: gray;    
    border-bottom: solid 3px gray;
}
.sidebar a:hover {
    color: gray;
}

.slick-prev:before,
.slick-next:before {
  color: black!important;
}

.painting-carousel img {
    height:70%;
    width:70%;
}

.carousel-caption {
    padding-top:10px;
    text-align: center;
}

.contact-icon {
    width:50px;
    height:50px;
}

.contact-icon:hover {opacity: 0.7;}